@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900&display=swap');
		body{
			width: 100vw;
			height: 100vh;
			margin: 0;
			padding: 0;
			user-select: none;
			font-family: 'Montserrat';
			font-size: 3vh;
			overflow-x: hidden;
		}
		#wrapper{
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
		}
		#settings-display{
			background: white;
			position: fixed;
			top: 0;
			left: -100%;
			width: 400px;
			height: 100vh;
			opacity: 0;
			transition: all .5s ease;
			border-right: 2px solid rgba(0,0,0,.2);
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			z-index: 500;
		}
		#settings-main-block{
			width: 100%;
			height: 85vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		#settings-main-block-label{
			cursor: pointer;
			color: rgba(0,0,0,.5);
			height: 20%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all .25s ease;
		}
		#settings-main-block-label:after{
			content: '>';
			margin-left: 5px;
			opacity: 0;
			transition: all .25s ease;
		}
		#settings-main-block-label:before{
			content: '<';
			margin-right: 5px;
			opacity: 0;
			transition: all .25s ease;
		}
		#settings-main-block-label:hover::after{
			opacity: 1;
			margin-left: 15px;
		}
		#settings-main-block-label:hover::before{
			opacity: 1;
			margin-right: 15px;
		}
		#settings-table-block,#settings-item-block{
			height: 80%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		#table-block-input-area,#item-block-input-area{
			color: rgba(0,0,0,.65);
			font-size: 15px;
			height: 20%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#tb-x,#tb-y{
			margin-right: 3%;
			margin-left: 3%;
			width: 20%;
			height: 50%;
		}
		#ib-place,#ib-text,#ib-color{
			width: 30%;
			height: 50%;
			margin-right: 3%;
			margin-left: 3%;
		}
		.input,#ib-place{
			transition: all .5s ease;
			outline: none;
			border-radius: 10px;
			font-family: 'Montserrat';
			text-align: center;
			padding-left: 3px;
			border: 0;
			border: 2px solid transparent;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.input:focus{
			border: 2px solid rgba(0,0,0,.2);
		}
		.input:focus::placeholder{
			color: transparent;
		}
		.input[type=number]::-webkit-inner-spin-button,
		.input[type=number]::-webkit-outer-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
		.button{
			transition: all .25s ease;
			outline: none;
			border-radius: 10px;
			font-family: 'Montserrat';
			text-align: center;
			border: 0;
			border: 2px solid rgba(0,0,0,.2);
			background: transparent;
		}
		.button:hover{
			cursor: pointer;
			background: rgba(0,0,0,.2);
			border-color: transparent;
			color: white;
			transform: scale(1.3);
		}
		.button:active{
			transform: scale(1.15);
		}
		#tb-c,#ib-r{
			width: 50%;
			height: 50%;
		}
		#table-block-preview-area,#item-block-preview-area{
			color: rgba(0,0,0,.5);
			font-size: 15px;
			height: 60%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#table-block-button-area,#item-block-button-area{
			width: 100%;
			height: 20%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-size: 12px;
		}
		#table-block-button-area button, #item-block-button-area button{
			margin-bottom: 5px;
		}
		#table-block-button-area div, #item-block-button-area div{
			width: 65%;
			text-align: center;
			color: rgba(0,0,0,.5);
		}
		#main-display{
			width: 100%;
			transition: all .5s ease;
			display: flex;
			justify-content: center;
			padding-top: 20vh;
		}
		#main{
			width: 65%;
		}
		#table-wrap{
			width: 100%;
			display: flex;
			box-sizing: border-box;
		}
		.column{
			width: 1px;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			margin-left: 2px;
		}
		.cell{
			width: 100%;
			height: 150px;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 3px;
			border: 2px solid rgba(0,0,0,.2);
			margin-top: 2px;
			padding: 3px;
		}
		.item{
			width: 100%;
			height: 100%;
			overflow-y: auto;
			overflow-x: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 3px;
		}
		.mini-item{
			width: 75%;
			height: 75%;
			overflow-y: auto;
			overflow-x: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 3px;
			color: black;
			font-size: 20px;
			border: 2px solid rgba(0,0,0,.1);
		}
		#add-item{
			position: absolute;
			bottom: 3%;
			left: 3%;
			font-size: 15px;
			display: flex;
			opacity: .5;
		}
		#add-table{
			position: absolute;
			bottom: 3%;
			right: 3%;
			font-size: 15px;
			display: flex;
			opacity: .5;
		}
		.uibutton{
			position: fixed;
			transition: all .5s ease;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 40px;
			height: 40px;
			z-index: 750;
		}
		#settings-block{
			top: calc(3vw + 3vh);
			left: calc(3vw + 3vh);
		}
		#remove-block{
			top: calc(3vw + 3vh);
			right: calc(3vw + 3vh);
		}
		#view-block{
			top: calc(3vw + 3vh);
			left: calc(8vw + 8vh);
		}
		#view-block{
			z-index: 499;
		}
		.uiicon{
			width: 100%;
			height: 100%;
			transition: all .5s ease;
		}
		.uilabel{
			opacity: 0;
			transition: all .5s ease;
			font-size: 15px;
			color: rgba(0,0,0,.5);
		}
		.uibutton:hover{
			transform: scale(1.25);
			cursor: pointer;
		}
		#settings-block:hover > #settings-label{
			display: block;
			opacity: 1;
		}
		#settings-block:hover > #settings-icon{
			transform: rotate(180deg);
		}
		#remove-block:hover > #remove-label{
			display: block;
			opacity: 1;
			color: red;
		}
		#view-block:hover > #view-label{
			display: block;
			opacity: 1;
		}
		.mini-table{
			width: 75%;
			height: 75%;
			display: flex;
		}
		.mini-column{
			height: 100%;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			margin-left: 1px;
		}
		.mini-cell{
			width: 100%;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 3px;
			margin-top: 1px;
			background: rgba(0,0,0,.1);
		}
		#preloader-display{
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background: white;
			z-index: 1000;
		}
		#preloader{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#preloader-img-block{
			animation: rotate 1s infinite linear;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#preloader-img{
			width: calc(3vh + 2vw);
			height: calc(3vh + 2vw);
		}
		#preloader-text{
			margin-left: 20px;
			font-weight: bold;
		}
		@keyframes rotate{
			from{transform: rotate(0deg)}
			to{transform: rotate(360deg)}
		}
		@keyframes fade{
			from{opacity: 1}
			to{opacity: 0}
		}